doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/table.css')
    title
  body
    a(href='../admin/teacher') teachers     
    a(href='../admin/lesson') lessons   
    a(href='../admin/schedule') schedules   
    a(href='../admin/student') students
    a(href='../updatepassword') update password
